@keyframes animEntete{
    from {
        transform : translateX(600px);
        opacity: 0;
        color: rgb(30, 39, 80);
    }
    to{
        transform : translateX(0px);
        opacity: 1;
        color: rgb(223, 225, 235);
    }
}

.animEntete {
    animation : animEntete 2s; 
}