@keyframes animEntete{
    from {
        transform : translateX(500px);
    }
    to{
        transform : translateX(0px);
    }
}

@keyframes animsousEntete{
    from {
        transform : translateX(500px);
    }
    to{
        transform : translateX(0px);
    }
}
.animEntete {
    animation : animEntete 1s; 
}

.animsousEntete {
    animation : animsousEntete 1s; 
}