/*
Auteur: Tommy Le Ha
Les éléments simples.  
On définit ici des règles de styles générales 
*/

header {
    color : #307dbd;

}
h1 {
    font-size: 3em;
    padding: 1rem 0 .1rem 0;
    margin: 0;
}

h2 {
    font-size: 1em;
    padding: 0 0 20px 0;
    margin: 0;
}