/*
mobile : 1 colonne
tablette : 2 colonnes 2 rangée
desktop : 4 colonnes 1 rangée
*/


#pied-page{
    padding-top : 30px;
    padding-bottom: 30px;
    color : darken($couleur_blanc,40%);
    section{
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    ul {
        width : 50%;
        padding : 10px;
        list-style-type: none;
        margin:0;
        padding: 10px 0 10px 0;
        flex :1;
        text-align : center;
        border: 3px dotted lighten($couleur_rouge, 17%);
        &:nth-of-type(1){
            @include label("Métropolitaine", rgb(237, 250, 250), black);
            }
        &:nth-of-type(2) {
            @include label("Atlantique", rgb(237, 250, 250), black);
            }
        &:nth-of-type(3) {
            @include label("Centrale", rgb(237, 250, 250), black);
            }
        &:nth-of-type(4) {
            @include label("Pacifique", rgb(237, 250, 250), black);
            }

        li {
           color:white;
           padding : 3px;
        }
        
    }
}


@media screen and (min-width: 500px)
{
#pied-page {
    section{

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    ul {
            flex : 1 1 40%; // pour un wrap sur 2 colonnes
            text-align : center;
        }
        
    }
}

@media screen and (min-width: 1000px) {
    #pied-page {
        section {
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-around;
        }

        ul {
            flex : 1 1 25%; // on a plus de wrap et 4 colonnes
        }
    }
}