.tableau {
    display:grid;
    width: 50%;
    margin-bottom: 6%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    border: 3px solid rgb(54, 54, 54);
 
    * {
        height: 100%;
    }

    div{
        &:hover {
            background-color: $couleur_grisfonce;
            color: #fff;
        }
    }
}

