/*!
Auteur: Tommy Le Ha
Description: Gabarit de base permettant d'explorer Sass et différents techniques CSS
Version: 1.0.0
License: GNU General Public License v2 or later

*/

/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# Variables
# mixin
# extend
# typographie
# Element
# Layout
# entete
# Navigation
# Pied-page
----------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "_variables.scss";
/* ------------------------------------------------------------
# mixin
--------------------------------------------------------------*/
@import "_mixin.scss";
/* ------------------------------------------------------------
# extend
--------------------------------------------------------------*/
@import "_extend.scss";
/* ------------------------------------------------------------
# typographie
--------------------------------------------------------------*/
@import "_typographie.scss";
/* ------------------------------------------------------------
/* ------------------------------------------------------------
# Element 
--------------------------------------------------------------*/ 
@import "_element.scss";
/* ------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "_layout.scss";
/* ------------------------------------------------------------
# Entete
--------------------------------------------------------------*/
@import "_entete.scss";
/* ------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
@import "_navigation.scss";
/*--------------------------------------------------------------
# Pied-page 
----------------------------------------------------------------*/
 @import "_pied-page.scss";
/*-------------------------------------------------------------- */


